.panes-container {
            display: flex;
            width: 100%;
            height:80%;
            overflow: hidden;
        }

        .nleft-pane {
            width: 50%;
height: 50ex;
overflow-y:scroll;
            background: #F5F5DC;
        }

        .nright-pane {
            width:50%;

          background: #FFFACD;
        }
         .sleft-pane {
            width: 50%;
          
            background: #FFFACD;
        }

        .sright-pane {
            width:50%;
            overflow-x:scroll;


          background: #eee;
        }

        .panes-container,

        .nleft-pane,
        .nright-pane {
            margin: 0;
            padding: 10;
          
        }